extends layout

block content
    h1 Link Created
    .form-group
        label(for="long") Long Link
        input.form-control(value=long, id='long', readonly)
    .form-group
        label(for="short") Shorter Link
        input.form-control(value=short, id='short', readonly)
    .form-group
        button.btn.btn-primary(onclick="$('#short').select(); document.execCommand('copy');") Copy Link
