extends layout

block content
    h1 Shortener
    form(action=".", method="post")
        .form-group
            label(for="link") Link to Shorten
            input.form-control(type="text", name="link", id="link", required="required")
        .form-group
            input.btn.btn-primary(type="submit", name="submit", value="shorten")
